

<div class="main-container">

<h3> Your cocktail overview</h3>


<div class='d-flex p-2 bd-highligth'>
  <div>
Name: <%= @cocktail.name %>
Dose: <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>
    <%= dose.description %>
    <%= link_to 'destroy', dose_path(dose), method: :delete, data: { confirm: "are you sure?"} %>
<% end %>
</div>


<br>

 <div>
<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key,
      width: 400, height: 300, crop: :fill %>
      <% else %>
     <p> You haven't uploaded a picture yet!</p>
     <% end %>

<%= render "doses/new", cocktail: @cocktail, dose: @dose%>
<br>
</div>
</div>
<div class=" btn btn-info">
<%= link_to "All cocktails", root_path %>
<%= link_to %>
</div>
</div>
