

<div class="container">
  <br>

<h3 class="title"> Your cocktail overview!</h3>
<br>

<div>
Name: <%= @cocktail.name %>
Dose: <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>
    <%= dose.description %>
    <%= link_to 'destroy', dose_path(dose), method: :delete, data: { confirm: "are you sure?"} %>
<% end %>
</div>

<br>

<%= render "doses/new", cocktail: @cocktail, dose: @dose%>
<br>
<div class=" btn btn-info">
<%= link_to "All cocktails", cocktails_path %>
</div>
</div>
